body {
    padding-top: 60px;
}
.clear {
    clear: both;
}
.navbar {
    height: 40px;
}

.footer p {
    font-size: 0.75em;
    line-height: 1.2em;
    margin-bottom: 0;
}
ul.images {
    margin-left: 0px;
}
.navbar-inner {
    background: #ffcd5a;
}
.navbar .nav a.nav-title {
    color: white;
    font-size: 2em;
}
.nav.pull-right {
    color: white;
    font-size: 1.5em;
}
.nav.pull-right .about a {
    color: white;
}

.images > li {
    list-style-type: none;
    clear: left;
    padding-bottom: 2em;
}
.images li .share {
    float: left;
    clear: left;
    margin-left: 10px;
}
.images li .date {
    float: left;
    margin-left: 10px;
}
.images li a.comments {
    float: left;
    margin-left: 10px;
}
.images li .location {
    float: left;
}
.images li .image {
    width: 600px;
    padding: 10px;
    border-radius: 4px;
    background: #6CE;

    float: left;
    clear: left;
    margin-bottom: 1em;
}

.images h1 {
    padding-left: 10px;
}
.ribbon {
    position: fixed;
    top: 40px;
    right: 0px;
    z-index: 1000;
}
.single a.comments {
    display: none;
}
#disqus_thread {
    margin-left: 10px;
}

.rss-icon {
    position: absolute;
    right: 0;
    top: 0;
}

@media (max-width: 980px) {
    body {
        padding-top: 0px;
    }
    .ribbon {
        position: absolute;
        top: 50px;
        right: 0px;
    }
}
